
.button {
    padding: 0 .25em;
    user-select: none;
    cursor: pointer;
    background-color: inherit;
}

.buttonDisabled {
    background-color: blue;
    cursor: default;
}

.buttonToggledOff {
    background-color: red;
}



.tankSelectionItemWrap {
    /* min-width: 220px; */
    display: flex;
    margin: .5em;
    padding: .5em;
    border: 1px solid rgba(245, 245, 245, 0.35);
}

.tankSelectionButtonsWrap {
    display: flex;
    flex-direction: column;
}

.addTankButton {
    /* composes: headerAddTankButton; */
    flex-grow: 2;
    padding: .5em .5em;
    background-color: green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    will-change: color;
    transition: color 200ms ease-out;
}
.addTankButton:hover {
    color: white;
}
.defaultConfigText {
    font-size: .75em;
    opacity: .75;
}

.editConfigButton {
    composes: addTankButton;
    flex-grow: .5;
    background-color: rgb(211, 120, 0);
}
