
.tiersWrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: .25em;
}

.button {
    padding: 0 .25em;
    user-select: none;
    cursor: pointer;
    background-color: inherit;

    min-width: 3em;
    padding: .75em .25em;
    text-align: center;

}

.button img {
    height: 1.25em;
}
.button img svg path {
    fill: #c0c0c0;
}

.buttonActive {
    box-shadow: rgb(0 0 0 / 13%) 0px 3px 5px inset;
    color: rgb(255, 255, 255);
    background-color: rgb(146, 146, 146);
    cursor: default;
}

.button:hover:not(.buttonActive) {
    background-color: #d1d1d1;
    color: grey;
}


.tanksListWrap {
    display: flex;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
    gap: .5em;
}

.tankSelectionItemWrap {
    border: 1px solid rgba(245, 245, 245, 0.35);
}
