
.headerRow {
    font-size: 1.25em;
    font-weight: bold;
    padding: .5em .25em .5em;
    background-color: rgb(255 255 255 / 5%);
}

.headerButtonsWrap {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    display: grid;
    grid-template-rows: 1fr 1fr;
    text-align: center;
}

.headerRemoveTankButton {
    cursor: pointer;
    user-select: none;

    background-color: rgba(255, 0, 0, .2);
    padding: .1em .55em;
    z-index: 1;

    will-change: background-color;
    transition: background-color 200ms ease-out;
}
.headerRemoveTankButton:hover {
    background-color: rgba(255, 0, 0, .5);
}

.headerEditTankButton {
    composes: headerRemoveTankButton;
    background-color: rgba(255, 166, 0, 0.2);
}
.headerEditTankButton:hover {
    background-color: rgba(255, 166, 0, 0.5);
}

/* For the tank selection interface */
.headerAddTankButton {
    composes: headerRemoveTankButton;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 3em;
    min-width: 2em;
    background-color: rgba(0, 128, 0, 0.4);
}
.headerAddTankButton:hover {
    background-color: rgba(0, 128, 0, 0.85);
}

.cellWrap {
    display: flex;
    flex-wrap: nowrap;
}


.playerCell {
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    flex-direction: column;
    padding: .15em .3em;
}
.playerCell a {
    color: inherit;
    text-decoration: none;
}
.playerTopRow {
    display: flex;
    align-items: center;
}
.platformXbox {
    background-color: #2c8700;
    height: 10px;
    width: 3px;
    margin-right: .25em;
}
.platformPs {
    composes: platformXbox;
    background-color: #16429b;
}

.playerName {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* max-width: 65px; */
    font-size: .85em;
}
.playerClanTag {
    flex-grow: 1;
    text-align: right;
    margin-right: .25em;
    opacity: .65;
    font-size: .65em;
}

.playerName:hover,
.playerClanTag:hover {
    text-decoration: underline;
}

.playerStatsRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 .25em;
    font-size: .75em;
}

.playerWn8 {
    font-size: .75rem;
}
