
.mainWrap {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background-color: red; */
    background-color: var(--main-bg-colour);
    z-index: 9;
    padding: 1em;

    display: flex;
    flex-direction: column;
}

.closeButton {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 2em;
    padding: .35em .6em .35em;
    border-bottom: 1px solid grey;
    border-left: 1px solid grey;
    border-bottom-left-radius: 5px;
    background-color: rgba(255,255,255, .05);
    cursor: pointer;
    user-select: none;
    will-change: background-color;
    transition: background-color 200ms ease-out;
}
.closeButton:hover {
    background-color: rgba(255,255,255, .15);
}

.header {
    margin: 0;
}

select {
    font-size: 16px;
    display: block;
    margin: .25em 0;
    min-width: 300px;
}


.tankPreviewWrap {
    border: 1px solid grey;
    border-radius: 5px;
    padding: 1em;
}

.addTankButton {
    margin: .5em 0;
}
